<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <img
    class="logo-img"
    src="https://i.imgur.com/949vmzC.png"
    width="30"
    height="30"
    alt=""
  />
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Jogadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tabela</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Formações</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sair</a>
      </li>
    </ul>
  </div>
</nav>
