<link rel="stylesheet" href="footer.component.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<section class="footer">
  <div class="social">
    <a href="https://www.linkedin.com/in/vctorcarreras/" target="_blank"
      ><i class="fab fa-linkedin"></i
    ></a>
    <a href="https://github.com/carrerasvictor" target="_blank"
      ><i class="fab fa-github"></i
    ></a>
  </div>
  <p class="copyright">Meu Time © 2023</p>
</section>
